@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
     --purple-: #7159c1;
     --blue-links: #1900ff;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
    body{
        
        margin: 0;
        background-color:white;
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    header{
        padding: 32px;
       

    }
    .links{
        text-align: center;
        
    }
    .links a{
        
        color: var(--purple-);
        font-size: 20px;
        line-height: 30px;
        margin: 0 30px;
        text-decoration: none;
    }
    .links a:hover {
        color: var(--blue-links);
        transition: color 200ms;
     }

    #Bodytext {
        text-align: center;
        padding: 20px;
    }
#Bodytext img{
    height: 100px;
    padding: 10px 30px;
    border: 2px solid black ;
}
    #Bodytext h1{
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
        padding: 20px;
    }
    #Bodytext h2{
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 10px;
    }

#Bodytext ul{
    font-size: 22px;
    line-height: 32px;
    
    

}
#Bodytext li{
    font-size: 17px;
    line-height: 27px;
    
}
#links-footer a{
    border-bottom: 1px solid var(--blue-links);
}

/* === CARDS === */

.cards {

    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.card {
    background-color: gray;
    position: relative;
}

.card__image-container img{
    width: auto;
                
}

.card__content, .card__info {
    padding: 24px;
    
}
.card__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--purple-) ;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    
}